---
title: Work Template
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        h1 {
            text-align: center,
            text-color: blue
        }
    </style>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <h2>{{ title }}</h2>
    <img src="{{image}}" alt="{{name}}" height="600" width="400">
    {{ content | safe }}
  </body>
</html>