---
title: Work Template
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      .grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      }
      h1 {
        text-align: center;
        color: darkblue;
        margin-top: 5px;
        margin-bottom: 0px
      }

      .article {
      margin: auto;
      width: 80%;
      padding: 5px;
      }  

      .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      }

      figure {
        margin-top: 5px;
        display: inline-block;
        border: 1px dotted gray;
        }
      figure img {
        vertical-align: top;
        }
      figure figcaption {
        border: 1px dotted blue;
        text-align: center;
      }

    </style>
  </head>
  <body>
    <div class="article">
      <h1 class="center">{{ name }}</h1>
      <figure>
        <img class="center" src="{{image}}" alt="{{name}}" style="width:30%">
        <figcaption>{{title}}</figcaption>
      </figure> 
    </div>
  </body>
</html>