/* Error: Expected newline.
 *   ,
 * 4 | *::after {
 *   |          ^
 *   '
 *   src/sass/style.sass 4:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected newline.\a   \2577 \a 4 \2502  *::after {\a   \2502           ^\a   \2575 \a   src/sass/style.sass 4:10  root stylesheet";
}
